@import url('https://fonts.googleapis.com/css?family=KoHo|Roboto');

.icon-link {
    width: 30px;
    
}

.header {

    padding: 40px; /* some padding */

    border-radius: 5px;

    text-align: center; /* center the text */

    background: #1abc9c; /* green background */

    color: white; /* white text color */

}

.header h1 {
    font-family: 'Koho', sans-serif;
    font-size: 55px;
}
.header h3 {
    font-family: 'KoHo', sans-serif;
}

/* Style the top nav bar */

#navbar {
  display: table;
  margin: 0 auto;
  background-color: transparent;
  position: fixed;
}

.table {
    display: table;
    align-content: center;
    margin: 0 auto;
}

ul#horizontal-list {
    width: 325px;
    list-style: none;
    padding-top: 10px;
}

ul#horizontal-list li {
    display: inline;
    padding: 20px;
}

/* Column container*/

.row {

   display: flex;
   flex-wrap: wrap;



}



/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */
.side {

   flex: 20%; /* Set the width of the sidbar */

   background-color: #f1f1f1; /* Grey background color */

   padding: 20px; /* Some padding */

}

/* Main column */
.main {

   flex: 80%; /* Width of the main column */

   background-color: white; /* White background color */

   padding: 20px; /* Some padding */

}

.main h3 {
   font-size: 180%;

}

.main h1 {
   font-size: 240%;
}

.footer {
   padding: 15px;
   text-align: center;
   background: #1abc9c;

}

.footer h2 {
   color: white;
}
