body {
  background-color: #010165;
  margin: 0px;
}

.door-frame {
  cursor: pointer;
  padding: 10px;
}

.door-row {
  text-align: center;
}
.header {
  background-color: #02FFFF;
  text-align: center;
}

.title-row {
  display: flex;
  margin-top: 42px;
  margin-bottom: 21px;
  margin-left: 37%;
  text-align: center;
}

.instructions-title {
  font-size: 18px;
  color: #02FFFF;
  font-family: "Work Sans";
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
}

.instructions-number {
  color: #02FFFF;
  font-size: 30px;
  font-family: "Work Sans"
}

.instructions-text {
  color: #ffffff;
  margin-left: 15px;
  font-family: "Work Sans";
  padding: 10px;
}

.start-row {
  margin: auto;
  width: 120px;
  height: 43px;
  font-family: "Work Sans";
  background-color: #eb6536;
  padding-top: 18px;
  font-size: 18px;
  text-align: center;
  color: #010165;
  margin-bottom: 21px;
  cursor: pointer;
}

.icon-link {
  width: 35px;
  
}

.icon-link:hover {
  transform: scale(1.5);
}

.footer {
   padding: 15px;
   position: absolute;
   text-align: center;
   background: #204558;
   border-radius: 10px;
   width: 950px;
   box-shadow: 10px 10px 5px grey;
   margin-left: 17%;

}

.footer h2 {
   color: white;
}