@import url('https://fonts.googleapis.com/css?family=KoHo|Roboto');

.icon-link {
    width: 35px;
    
}

.icon-link:hover {
    transform: scale(1.5);
}

hr {
    width: 200px;
}

#my-photo img {
    border-radius: 100px;
    height: 200px;
    margin-left: 40%;

}

.title {
    font-size: 35px;
    font-family: 'KoHo', sans-serif;
    color: white;
    font-stretch: expanded;

}

.subtitle {
    color: white;
    font-size: 20px;
}

.navBarWrapper {
    z-index: 1;
    background-color: #204558; 
    margin-bottom: 3px;
    border-radius: 10px;
    padding-right: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bar {
    height: 75px;
    overflow: auto;
}

.bar li {
    display: inline-block;
    padding-right: 26px;
    margin-bottom: -12px;
}

#navbar {
    display: flex;
    margin: 0 auto;
    background-color: transparent;
    float: right;
  }
  
  .table {
      display: table;
      align-content: center;
      margin: 0 auto;
      
  }
  
  ul#horizontal-list {
      width: 335px;
      list-style: none;
      padding-top: 1px;
  }
  
  ul#horizontal-list li {
      display: inline;
      padding: 10px;
      font-size: 15px;
  }
  

/* Column container*/

.row {

    align-content: center;

   



}



/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */
.side {

   
   background-color: #E7E657; /* Grey background color */

   padding: 15px; /* Some padding */

   border-radius: 10px;

   color: #2C2B3B;

   padding-bottom: 10px;

   width: 200px;


}

.side h1 {

  margin-left: 40%;

  font-size: 60px; 

}


/* Main column */
.main {
   background-color: white; /* White background color */

   padding: 20px; /* Some padding */

   align-content: center;

   border-radius: 10px;

   color: #2C2B3B;

   border-color: #2C2B3B;
   border-style: solid;
   margin-top: 2px;
   margin-bottom: 2px;
   border-width: 1px;

}

.main h3 {
   font-size: 190%;
   margin-left: 50px;

}

.main h1 {
   font-size: 240%;
}

.main ul {
    padding-left: 100px;
    padding-right: 50px;

}

.main li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #FF3A44;

}

.main a {
    color: #FF3A44;
}

.footer {
   padding: 15px;
   text-align: center;
   background: #204558;
   border-radius: 10px;

}

.footer h2 {
   color: white;
}
